nav{
    background-color: RGB(46,125,50);
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}

.header_logo{
    max-width: 600px;
    max-height: 200px;
    width: auto;
    height: auto;
}

.container ul {
    list-style-type: none;
    display: flex;
}

.container ul li {
    color: #dddddd;
    font-size: 36px;
    font-weight: bold;
    margin: 15px 20px;
}

.container ul li a{
    text-decoration: none;
    color: white;
}

.container ul li a:hover {
    background-color: white;
    color: RGB(46,125,50);
}

/*
.header {
    background-color: RGB(46,125,50);
    border-bottom: 1px solid #ddd;
    display: flex;
    text-align: right;
}

.container {
    text-align: right;
}

.header a {
    color: #fff;
    text-decoration: none;
    font-size: 36px;
    font-weight: bold;
    padding: 15px 20px;
}

.header li {
    list-style: none;
    display: inline-block;
    text-align: right;
}
*/


.slider-container{
    width: 100%;
    overflow: hidden;
}

.slider {
    flex: 0 0 auto;
    width: 100%;
}

.img-news {
    width: 300px;
    height: 200px;
}

.article {
    border: 1px solid #ddd;
    padding: 15px;
}